<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/admin/home">BookShare</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse  justify-content-end" id="navbarSupportedContent">
    
    <ul class="navbar-nav ">
            {{#if authen}}

      {{!-- for Admin --}}
      <li class="nav-item {{#if (eq activePage 'genre')}} active{{/if}}">
        <a class="nav-link" href="genre">Manage Book Genre</a>
      </li>
      <li class="nav-item {{#if (eq activePage 'borrow')}} active{{/if}}">
        <a class="nav-link" href="borrow">Manage Borrow Request</a>
      </li>
      {{!-- <li class="nav-item {{#if (eq activePage 'faculty')}} active{{/if}}">
        <a class="nav-link" href="/admin/faculty/view">Manage Faculty</a>
      </li>
      <li class="nav-item {{#if (eq activePage 'account')}} active{{/if}}">
        <a class="nav-link" href="/admin/account/view">Manage Account</a> --}}
      </li>
      <li class="nav-item {{#if (eq activePage 'chart')}} active{{/if}}">
        <a class="nav-link" href="chart">Chart</a>
      </li>
         {{/if}}

    <form class="form-inline my-2 my-lg-0 d-flex">
      {{#if authen}}
      <a class="btn btn-success my-2 my-sm-0 ml-2" href="/admin/logout">Logout</a>
      {{else}}
      <a class="btn btn-primary my-2 my-sm-0 ml-2" href="/admin/login">Login</a>
      {{/if}}
    </form>
     </ul>
  </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
