<div class="container mt-4">
  <h1 class="text-center mb-4">
    Edit Genre
  </h1>
  <div class="row mt-4">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <form action="" method="POST">
            <div class="form-group">
              <label for="id">ID:</label>
              <input type="text" class="form-control rounded-pill shadow-sm" id="id" name="id" value="{{genre._id}}" readonly />
            </div>
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control rounded-pill shadow-sm" id="name" name="name" maxlength="255" value="{{genre.name}}" required />
            </div>
            <div class="form-group">
              <label for="description">Description:</label>
              <textarea class="form-control rounded-pill shadow-sm" id="description" name="description" rows="2" required>{{genre.description}}</textarea>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary rounded-pill shadow">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
